*{
    list-style-type: none;
    text-decoration: none;
   align-items: center;
   text-align: center;
}

body{
   background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
}
h5{
    color: hsl(75 94% 57%)
    ;
}

ul li a{
     background-color:darkgrey;
    color:  hsl(0 , 0% , 100%);
    display: flex;
    flex-direction: column;
     align-items: center;
     padding: 20px 90px;
    margin-right: 35px;
}

div{
    background-color: hsl(0, 0%, 20%);

}
p{
    Font-size: 14px;
}

.attribution { font-size: 11px; text-align: center; }
attribution a { color: hsl(228, 45%, 44%); }
 
 
 img{
      border-radius: 50%;
 }

li a:hover,
li a:focus
{
    color: blue;
    background-color: gold;}
    
